body {
    
    background-color: salmon;
    
}

header {
    text-align: center;
}

#scoreEl {
    color: #243155
}

#timerEl {
    color: #243155
}

#questionNumEl {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-emphasis: bold;
    color:#243155;
    text-shadow: 1px 1px 4px grey;
}


#questionEl {
    padding-right: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-shadow: 1px 1px 4px black;
}

.topThree, #rulesEl {
    padding-left: 50px;
}

.youreFirst {
    color: black;
    text-shadow: 1px 1px 4px black;
    text-align: center;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right: 50px;
}

li {
    color: black;
    text-shadow: 1px 1px 4px black;
}

label {
    color: white;
    text-shadow: 1px 1px 4px black;
}

button {
    background-color: white;
}

#timerCountdown {
    text-align: center;
    color: #243155;
}